#### use mtcars dataset from LMS

A) delete/ drop rows-10 to 15 of all columns

B)drop the VOL column

C)write the forloop to get value_counts of all cloumns

In [59]:
import pandas as pd
import numpy as np

In [2]:
cars_df = pd.read_csv("mtcars.csv")

In [3]:
cars_df.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [4]:
cars_df.isnull().sum()

mpg     0
cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    0
vs      0
am      0
gear    0
carb    0
dtype: int64

##### A) delete/ drop rows-10 to 15 of all columns

In [52]:
cars = cars_df.copy() #Coping for experimentation

In [53]:
cars.head(3)

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1

In [54]:
cars = cars.drop(cars.index[[10, 11, 12, 13, 14, 15]], axis = 0, inplace = True)

In [60]:
data = np.random.randint(100, size=(10,10))

In [61]:
data

array([[32, 86, 50, 67, 53, 73, 92, 41,  9, 63],
       [11, 58, 90,  0,  4,  0, 91, 46, 29, 48],
       [21,  6, 76, 58, 86, 79, 85, 91, 45, 26],
       [69, 74, 21, 12, 57, 95, 51, 23, 75, 56],
       [ 3, 25, 22, 54, 35, 85, 59, 79, 50, 20],
       [90,  4, 67, 60, 92, 83, 69, 78, 25, 70],
       [48, 47, 44, 71, 29, 19, 84, 58,  3, 86],
       [55, 73, 68, 15, 53, 52, 19, 63, 68, 50],
       [38, 15, 53, 26, 73, 75, 24, 87, 18,  3],
       [43, 51, 79, 36, 86,  1, 56, 36, 83,  2]])

In [64]:
df = pd.DataFrame(data)

In [65]:
df.drop(df.index[3:7], axis = 0, inplace=True)

In [66]:
df

    0   1   2   3   4   5   6   7   8   9
0  32  86  50  67  53  73  92  41   9  63
1  11  58  90   0   4   0  91  46  29  48
2  21   6  76  58  86  79  85  91  45  26
7  55  73  68  15  53  52  19  63  68  50
8  38  15  53  26  73  75  24  87  18   3
9  43  51  79  36  86   1  56  36  83   2