### Use Crime dataset from LMS

I) find the aggregations like all moments of business decisions for all columns,value counts.

II) do the plottings like plottings like histogram, boxplot, scatterplot, barplot, piechart,dot chart.

In [1]:
import pandas as pd

In [3]:
crime_df = pd.read_csv("crime_data.csv")

In [4]:
crime_df.head()

   Unnamed: 0  Murder  Assault  UrbanPop  Rape
0     Alabama    13.2      236        58  21.2
1      Alaska    10.0      263        48  44.5
2     Arizona     8.1      294        80  31.0
3    Arkansas     8.8      190        50  19.5
4  California     9.0      276        91  40.6

In [7]:
crime_df.isnull().sum() #checking null values in whole data frame

Unnamed: 0    0
Murder        0
Assault       0
UrbanPop      0
Rape          0
dtype: int64

In [13]:
crime_df = crime_df.rename(columns = {"Unnamed: 0":"City"}) #renaming first column.

### I) find the aggregations like all moments of business decisions for all columns,value counts.

In [14]:
crime_df.head()

         City  Murder  Assault  UrbanPop  Rape
0     Alabama    13.2      236        58  21.2
1      Alaska    10.0      263        48  44.5
2     Arizona     8.1      294        80  31.0
3    Arkansas     8.8      190        50  19.5
4  California     9.0      276        91  40.6